body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}

.orange{
    color: orange;
}
.ban{
    display: flex;
    margin-left: 7% ;
    margin-right: 7%;
    margin-bottom: 100px;

}
.para{
    width: 50%;
    padding-left: 5%;
}
.para img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;


}
.bannar{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.bannar p{
    font-size:  120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big{
    background-image: url(image/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.pp{
    padding-right: 200px;
}
.experi{
    box-shadow: 10px 10px 40px red;
    width: 40%;
    margin-left: 5%;
    padding: 30px;
}
.ex{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#pos{
    margin-left: 200px;
}
#experi-id{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}

#exp{
    border-left: 7px solid;
    border-image: linear-gradient(green, purple);
    border-image-slice: 1;

}